
@media (min-width: 1000px) {
		.main-menu{
		margin-top:80px;
		margin-left: 30%;
	}
	.header {
		height: 130px;
		background-color: #99FF44;
		color: white;
	}
	.header a{
		color: white;

	}
}




#mainCarousel{
    height: 300px;
}
#mainCarousel img{
	width :100%;
	height:300px;
}

.footer {
    height: 80px;
    background-color: #99FF44;
    color: white;
    text-align: left;
}